html, body {
    height: 100%;
    margin: 0px;
}

div#topBar {
    background-color: #4f9;
}

div#browserRegion {
    height: 30%;
    background-color: #0dd;
    overflow: scroll;
    border-bottom: solid 2px;
}

div#contentRegion {
    height: 70%;
    background-color: #dd0;
    overflow: scroll;
}

#results {
    background-color: #95a;
}

#results tr:nth-child(even) {
    background-color: #0f0;
}

#results tr:nth-child(odd) {
    background-color: #0ff;    
}

.timeline-graph {
    padding: 0;
}

.timeline-td {
    white-space: nowrap;
}

.timeline-cell-group {
    display: inline-block;
    flex-direction: row;
    margin: 0px;
    background-color: #d08;
    border-left: solid 1px;
    border-right: solid 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.timeline-cell-block {
    display: inline-block;
    padding: 2px;
}

.timeline-cell-block-0 { 
    color: #f00;
}

.timeline-cell-block-1 { 
    color: #f30;
}

.timeline-cell-block-2 { 
    color: #f50;
}

.timeline-cell-block-3 { 
    color: #f80;
}

.timeline-cell-block-4 { 
    color: #fa0;
}

.timeline-cell-block-5 { 
    color: #fc0;
}

.timeline-cell-block-6 { 
    color: #fd0;
}

.timeline-cell-block-7 { 
    color: #ff0;
}

.timeline-cell-block-8 { 
    color: #af0;
}

.timeline-cell-block-9 { 
    color: #0f0;
}

.timeline-cell-label {
    text-align: center;
    font-size: 10pt;
}
